<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
           <!--Chat messages-->
           <app-chat-message text="Selecciona el audio para convertir a texto"/>
           
           @for (message of messages(); track $index) {
                @if(message.isGpt){
                    <app-chat-message [text]="message.text"/>
                }@else {
                    <app-my-message [text]="message.text"/>
                }
           }
           @if (isLoading()) {
            <app-typing-loader/>
           }
           
        </div>
    </div>
    <!--MessageBox-->
    <!-- <app-text-message-box 
    placeholder="Escribe aqui lo que deseas"
    (onMessage)="handleMessage($event)"
    /> -->

    <app-text-message-box-file
    placeholder="Escribe aqui lo que deseas"
    (onMessage)="handleMessageWithFile($event)"
    />

    <!-- <app-text-message-box-select
    placeholder="Escribe aqui lo que deseas"
    [options]="[{id:'1', text: '1'},{id:'2', text: '2'}]"
    (onMessage)="handleMessageWithSelect($event)"
    /> -->
</div>
